
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/cartas.jpg);
    width: 100vw;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
 
  .quadrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 221, 209);
    border: solid 4px;
    border-image: linear-gradient(135deg, black 0%, #FF00A8 100%) 1;
    opacity: 0.9;
    width: 50%;
    height: 60%; 
  }

  .titulos{
    display: flex;
    flex-direction: column;
  }

  .titulos > h4 {
    text-align: center;
  }
 
  .botoes {
    /* margin-top: 10%; */
    margin-bottom: 5%;
  }

  .sep-botoes{
     width: 50%;
     justify-content: center;
     display: flex;
  }

  #btnNao {
    margin-left: 6px;
  }

  #btnSim {
    margin-left: 6px;
  }

  img{
    display: flex;
    width: 50px;
  }

  #cartas {
    display: flex;
    text-align: center;
    font-size: 1.5em;
  }

  #resultado{
    display: flex;

    text-align: center;
    font-size: 1.3em;
  }


  @media screen and (max-device-width: 750px) {


 .quadrado{
      width: 90%;
  }

  
  #cartas {
    font-size: 3em;
    padding: 0 20px;
  }

  #resultado{
    font-size: 2em;
  }

  img{
    width: 20%;
  }

  #jogar {
    font-size: 2em;
  }

  .titulos > h1, h4{
    font-size: 3em;
  }

  #btnSim, #btnNao{
    font-size: 2.5em;
  }

  #regrass{
    width: 80%;
  }

  #regras{
    font-size: 2em;
  }

  .titulos > h1 {
    text-align: center;
  }

}
